/************************************************
*
* File - main.css
* Author - Matt Antonio
* Project - MDD App
* Location - css/main.css
*
************************************************/

/*
RESET
======================================== */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, a, address, em, img, small, strong, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, figcaption, footer, header, hgroup, nav, section, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}


/***************************************************************************************
* BODY ELEMENTS
***************************************************************************************/
html {
	font-size: 1px;
}

body {
	font-size: 14rem;
	font-family: 'Josefin Sans', sans-serif;
	color: #acacac;
}

#backTop {
	border-bottom: 3px solid #000;
	background-color: #2d2d2d;
	height: 200px;
	width: 100%;
}

#backBottom {
	border-top: 1px solid #333;
	background-color: #3e3e3e;
	height: 600px;
	width: 100%;
}

.container {
	width: 960px;
	border-right: 1px solid #000;
	border-left: 1px solid #000;
	padding: 0 10px;
}

#mainContent {
	background-color: #2a2a2a;
}

header {
	background-color: #3b3b3b;
}

div {

}

hr {

}

img {

}

a {

}


/***************************************************************************************
* MAIN NAV
***************************************************************************************/
nav ul {
	list-style: none;
}

/***************************************************************************************
* HEADINGS
***************************************************************************************/

/* All Headings */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Londrina Outline', cursive;
	text-transform: uppercase;
}

/* Individual Headings */
h1 {
	font-size: 42rem;
}

h2 {
	font-size: 34rem;
}

h3 {
	font-size: 28rem;
}

h4 {
	font-size: 20rem;
}

h5 {
	font-size: 18rem;
}

h6 {
	font-size: 16rem;
}


/***************************************************************************************
* PARAGRAPHS
***************************************************************************************/

/* First Paragraph */
p {

}

/* Seccond Paragraph */

b {

}

/* Blockquote */
blockquote {

}

/* Third Paragraph */
em {

}

i {

}

strong {

}

small {

}


/***************************************************************************************
* LISTS
***************************************************************************************/

/* All Lists */
dl, ol, ul {

}

/* Definition Lists */
dl {

}

dt {

}

dd {

}

/* Ordered Lists */
ol {

}

ol li {

}

/* Unordered Lists */
ul {

}

ul li {

}


/***************************************************************************************
* FORMS
***************************************************************************************/

form {

}

fieldset {

}

legend {

}

label {

}

/* Inputs */
input {

}

textarea {

}

/* Other */
select {

}


/***************************************************************************************
* TABLES
***************************************************************************************/

table {

}

caption {

}

tr {

}

/* Head */
thead {

}

th {

}

/* Body */
tbody {

}

td {

}

/* Foot */
tfoot {

}


/***************************************************************************************
* OTHER
***************************************************************************************/

address {

}

pre {

}




















