<h2 class="page-header">About Me</h2>

{{ location.path }}

<p>
    <img id="family_img" ng-src="images/baptism.jpg" alt="The Antonio Family" title="The Antonio Family" width="300" height="277" />My main background is Store Management in retail, but I left that behind me and now put all my focus into the web. I'm a father, husband, brother, best friend to some, and cancer survivor. It certainly has been a rough ride, but I'm just getting started!</p>

<blockquote id="about_quote">
    <p>It wasn't until the age of 33 when I finally found what I wanted to do and went after it full steam ahead.</p>
</blockquote>

<p>It wasn't until the age of 33 when I finally found what I wanted to do and went after it full steam ahead. I am now currently pursuing a Bachelor’s Degree in Web Design &amp; Development at Full Sail University here in Orlando. It’s an extremely fast paced program and certainly not easy, but I have learned a ton in a very short time.</p> 

<p>The Web program at Full Sail is one of the youngest, but considered one of the hardest programs offered. Needless to say, if you want to make it through Full Sail, you had better put 110&#37; into every class and be prepared to fail at times.</p>
