<h2 class="page-header">About Me</h2>

{{ location.path }}

<p>
    <img id="family_img" src="images/baptism.jpg" alt="The Antonio Family" title="The Antonio Family" width="300" height="277" />It took 16 years in the retail industry to realize that I didn’t want to do it anymore. Retail was all I had done since I became old enough to work, but I knew it wasn’t what I wanted to do. I knew that I wanted to do something in the technology field dealing with computers, but just wasn’t sure what.</p>

<blockquote id="about_quote">
    <p>At the age of 33 I finally found what I wanted to do and went after it full steam ahead.</p>
</blockquote>

<p>Eventually, I had enough with retail and began teaching myself web design and how to use a popular <abbr title="Content Management System">CMS</abbr> known as Joomla. I loved it and began getting some work from a few small businesses in North Carolina. At the age of 33 I finally found what I wanted to do and went after it full steam ahead.</p>

<p>Fast forward to the present. I am now currently pursuing a Bachelor’s Degree in Web Design &amp; Development at Full Sail University here in Orlando. It’s an extremely fast paced program and certainly not easy, but I have learned a ton in a very short time. The Web program at Full Sail is the youngest, but considered one of the hardest programs offered. Needless to say, if you want to make it through Full Sail, you had better put 110&#37; into every class and be prepared to fail at times.</p>
