<div class="row">
    <div class="col-md-8">
        <h2 class="page-header">Contact</h2>
        <form id="contact-form" action="../contact.php" method="POST">
            <div class="input-container">
                <label>Full Name</label>
                <input type="text" name="name" placeholder="John Smith" required>
            </div>

            <div class="input-container">
                <label>Email</label>
                <input type="text" name="email" placeholder="you@email.com" required>
            </div>

            <div class="input-container">
                <label>Phone</label>
                <input type="text" name="phone" placeholder="407-123-4567">
            </div>

            <div class="input-container">
                <label>Message</label>
                <textarea name="message" rows="6" cols="25"></textarea>
            </div>

            <div class="input-container pull-right">
                <label></label>
                <input id="submit-btn" class="btn btn-default" type="submit" value="Send">
            </div>
        </form>
    </div>
    <!-- END col-md-8 -->

    <div class="col-md-4">
        <aside id="contact-info">
            <h3 class="page-heading">Get in touch</h3>
            <p>Please feel free to contact me however you like. Use the convenient form to the left, email me, call me, or snail mail me if you have specific requirements, or even if you just want to discuss your project with me. You may also contact me using the social networks listed below.</p>

            <ul id="contacts">
                <li class="contact">(407) 900-1WEB or (407) 900-1932</li>
                <li class="contact"><a href="mailto:matt@mantonio.com">matt@<span class="firebrick">m</span>antonio.com</a>
                </li>
                <li class="contact">Matt Antonio
                    <br>
                    PO Box 803
                    <br>
                    Goldenrod, FL 32733</li>
            </ul>

            <ul id="social-icons">
                <li class="pull-left"><a href="http://www.linkedin.com/pub/matt-antonio/20/990/9b1" title="View my profile on LinkedIn"><i class="glyph-icon flaticon-linkedin4"></i></a>
                </li>
                <li class="pull-left"><a href="https://twitter.com/_mattantonio_" title="Follow me on Twitter"><i class="glyph-icon flaticon-twitter20"></i></a>
                </li>
                <li class="pull-left"><a href="http://www.facebook.com/mattlantonio" title="Find me on Facebook"><i class="glyph-icon flaticon-facebook6"></i></a>
                </li>
            </ul>
        </aside>
    </div>
    <!-- END col-md-4 -->
</div>
<!-- END row -->
