<div class="row">

    <div class="col-lg-12">
        <h2 class="page-header">{{ detailItems[itemSelected].title }}</h2>
    </div>

</div>

<div class="row">
    <div class="col-md-8">
        <img class="img-responsive portfolioImg" ng-src="images/portfolio/{{ detailItems[itemSelected].imgName }}.jpg" alt="{{ detailItems[itemSelected].title }}">
    </div>

    <div class="col-md-4">
        <h3>Project Description</h3>
        <p>{{ detailItems[itemSelected].description }}</p>
        <h3>Technology Used</h3>
        <ul>
            <li ng-repeat="tech in detailItems[itemSelected].techUsed">{{ tech.tech }}</li>
        </ul>
        <a href="#/detail/{{ prevItem }}" class="btn btn-left item-nav">&lt;&lt; Prev</a>
        <a href="#/detail/{{ nextItem }}" class="btn btn-right item-nav">&gt;&gt; Next</a>
    </div>

</div>
<div id="projectImgs" class="row">

    <div class="col-lg-12">
        <h3 class="page-header">Related Projects</h3>
    </div>

    <div class="col-sm-3 col-xs-6">
        <a href="#">
            <img class="img-responsive portfolio-item" src="images/portfolio/hobbit.jpg">
        </a>
    </div>

    <div class="col-sm-3 col-xs-6">
        <a href="#">
            <img class="img-responsive portfolio-item" src="images/portfolio/primrose.jpg">
        </a>
    </div>

    <div class="col-sm-3 col-xs-6">
        <a href="#">
            <img class="img-responsive portfolio-item" src="images/portfolio/paintball.jpg">
        </a>
    </div>

    <div class="col-sm-3 col-xs-6">
        <a href="#">
            <img class="img-responsive portfolio-item" src="images/portfolio/metroid.jpg">
        </a>
    </div>

</div>
