<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Full Sail Portfolio</h2>
    </div>
</div>
<!-- END row -->

<div class="row" ng-repeat="row in fsItems | partition:fsItems.length">

    <div class="portfolio-item col-md-3" ng-repeat="fsItem in row">
        <a href="#/detail/{{ row.indexOf(fsItem) }}">
            <img class="img-responsive" ng-src="images/portfolio/{{ fsItem.imgName }}.jpg" alt="{{ fsItem.title }}" title="{{ fsItem.title }}">
            <span class="caption simple-caption">
                <p>{{ fsItem.title }}</p>
        </a>
    </div>
    <!-- END portfolio-item -->

</div>
<!-- END .row -->

</div>
<!-- END portfolio-container -->

<div class="portfolio-container">
    <div class="col-lg-12">
        <h2 class="page-header">Work Portfolio</h2>
    </div>
    <!-- END col-lg-12 -->

    <div class="row" ng-repeat="row in workItems | partition:workItems.length">

            <div class="portfolio-item col-md-3" ng-repeat="workItem in row">
                <a href="#/detail/{{ row.indexOf(workItem) + fsItems.length}}">
                    <img class="img-responsive" ng-src="images/portfolio/{{ workItem.imgName }}.jpg" alt="{{ workItem.title }}" title="{{ workItem.title }}">
                    <span class="caption simple-caption">
                        <p>{{ workItem.title }}</p>
                </a>
            </div>
            <!-- END portfolio-item -->

    </div>
    <!-- END row -->

</div>
<!-- END row -->
